                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © CRM Platform.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                CRM Platform
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="<%= assetBase %>/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="<%= assetBase %>/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="<%= assetBase %>/assets/libs/node-waves/waves.min.js"></script>
    <script src="<%= assetBase %>/assets/libs/feather-icons/feather.min.js"></script>
    <script src="<%= assetBase %>/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="<%= assetBase %>/assets/js/plugins.js"></script>
    <script src="<%= assetBase %>/assets/js/app.js"></script>
    <script src="/js/theme.js"></script>
</body>
</html>
