<button
    type="button"
    class="inventory-node__toggle"
    data-bs-toggle="collapse"
    data-bs-target="#<%= targetId %>"
    aria-expanded="<%= expanded ? 'true' : 'false' %>"
    aria-controls="<%= targetId %>"
    aria-label="<%= expanded ? 'Collapse' : 'Expand' %> <%= label %>"
>
    <i class="ri-arrow-down-s-line inventory-node__chevron" aria-hidden="true"></i>
</button>
